<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sczyjsxy.jkx.cis.edubackend.mapper.ActivitiesMapper">

    <select id="getCourseName" resultType="java.lang.String">
        select c.course_name from course c inner join teaching_activities ta on c.course_id = ta.course_id
        where ta.teaching_activities_id = #{id};
    </select>

    <select id="getTeacherName" resultType="java.lang.String">
        select t.teacher_name from teacher t inner join teaching_activities ta on t.teacher_id = ta.teacher_id
        where ta.teaching_activities_id = #{id};
    </select>

    <select id="getScheduleId" resultType="java.lang.String">
        select s.schedule_id from teaching_activities ta inner join schedule s
        on ta.teaching_activities_id = s.teaching_activities_id where  ta.teaching_activities_id  = #{id};
    </select>


    <resultMap id="activities" type="com.sczyjsxy.jkx.cis.edubackend.model.dao.common.Activities">
        <id column="teaching_activities_id"  property="activitiesId" />
        <result column="course_id" property="course.courseId" />
        <result column="teacher_id" property="teacher.id" />
        <result column="semester" property="semester" />
        <result column="week_period" property="weekPeriod" />
        <result column="credit" property="credit" />
        <result column="proportion" property="proportion" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="getActivitiesByTeachingClassId" resultMap="activities">
        select teaching_activities_id, course_id, teacher_id, semester, plan,
         week_period, credit, proportion, remark
        from teaching_activities
        where
        <foreach item="item" index="index" collection="ids" open="" separator="or" close="">
            teaching_class_id = #{item}
        </foreach>
        and semester = #{semester};
    </select>

    <resultMap id="teacherActivities" type="com.sczyjsxy.jkx.cis.edubackend.model.dao.common.Activities">
        <id column="teaching_activities_id"  property="activitiesId" />
        <result column="course_id" property="course.courseId" />
        <result column="course_name" property="course.courseName"/>
        <result column="teacher_id" property="teacher.id" />
        <result column="teacher_name" property="teacher.name" />
        <result column="gender" property="teacher.gender" />
        <result column="phone" property="teacher.phone" />
        <result column="semester" property="semester" />
        <result column="week_period" property="weekPeriod" />
        <result column="credit" property="credit" />
        <result column="proportion" property="proportion" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="getActivitiesByTeacherId" resultMap="teacherActivities">
        select teaching_activities_id, c.course_id, c.course_name, t.teacher_id, t2.teacher_name, t2.gender, t2.phone,
        semester, plan, week_period, credit, proportion, remark
        from teaching_activities t inner join course c on t.course_id = c.course_id
        inner join teacher t2 on t.teacher_id = t2.teacher_id
        where t.teacher_id = #{id} and t.semester = #{semester};
    </select>


</mapper>