<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sczyjsxy.jkx.cis.edubackend.mapper.TeacherMapper">


    <select id="getTeacher" resultType="com.sczyjsxy.jkx.cis.edubackend.model.dao.Teacher">
        select teacher_id as id, teacher_name as name, gender, phone from teacher where teacher_id = #{id};
    </select>

</mapper>