<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sczyjsxy.jkx.cis.edubackend.mapper.TeachingClassMapper">

    <select id="getActivitiesAndCourseMap" resultType="java.util.Map">
        select ta.teaching_activities_id activities, ta.course_id course from teaching_class tc inner join teaching_activities ta
        on tc.teaching_class_id = ta.teaching_class_id where tc.teaching_class_id = #{id} and  ta.semester = #{semester};
    </select>



</mapper>